.config/emacs/%backup%~
.config/emacs/abbrev_defs
.config/emacs/ac-comphist.dat
.config/emacs/basic.ics
.config/emacs/bookmark.html
.config/emacs/bookmarks
.config/emacs/custom.el
.config/emacs/custom.el~
.config/emacs/debbugs
.config/emacs/diary
.config/emacs/ede-projects.el
.config/emacs/emacs.bmk
.config/emacs/forge-database-v7-20220622-0742.sql
.config/emacs/forge-database-v8-20220627-0723.sql
.config/emacs/forge-database.sqlite
.config/emacs/google.org
.config/emacs/init.old
.config/emacs/mu4e.el
.config/emacs/network-security.data
.config/emacs/nov-places
.config/emacs/places
.config/emacs/projects
.config/emacs/recentf
.config/emacs/savehist
.config/emacs/session.270a1243c-0da3-484d-ba03-e8b085954d8a
.config/emacs/session.27deb08ec-ddaa-434b-9b00-dee2c1056da7
.config/emacs/slime-history.eld
.config/emacs/smex-items
.config/emacs/tramp
.config/emacs/auto-save-list
.config/emacs/elfeed
.config/emacs/elpa
.config/emacs/elpy
.config/emacs/erc-logs
.config/emacs/games
.config/emacs/eshell
.config/emacs/geben
.config/emacs/org
.config/emacs/quack
.config/emacs/eln-cache
.config/emacs/emojis
.config/emacs/image-dired
.config/emacs/request
.config/emacs/semanticdb
.config/emacs/themes
.config/emacs/transient
.config/emacs/tutorial
.config/emacs/url
.config/emacs/var
