#*#
.*~
13.37
Desktop
Documents
Downloads
Mail
Music
News
Pictures
Public
Templates
Videos
bin
bitmaps
bzr
cvs
etc
git
lib
libexec
lisp
public_html
quicklisp
quicklisp.lisp
share
src
svn
swank.lisp
tmp
var
wallpapers
web
.Xauthority
.adobe
.authinfo
.bash_history
*.log
.dbus
.dmenu_cache
.esd_auth
.fonts
.gnupg
.irclogs
.java
.lesshst
.lftp
.links
.macromedia
.mozilla
.mpd
.newsrc
.newsrc.eld
.psh_history
.serverauth.*
.sh_history
.ssh
.subversion
.tramp_history
.w3m
.wmii
.xsession
/.config/gtk-2.0/*
/.config/transmission-daemon/dht.dat
/.config/transmission-daemon/resume
/.config/transmission-daemon/torrents
/.emacs.d/backups/*
/.emacs.d/ac-comphist.dat
/.emacs.d/.cookie
/.fontconfig/*
/.fluxbox/fbrun_history
/.emacs.d/w3m-session
/.emacs.d/url/*
/.emacs.d/tramp
/.emacs.d/smex-items
/.emacs.d/slime-history.eld
/.emacs.d/semanticdb/*
slackbuilds
/.emacs.d/session*
/.emacs.d/savehist
/.emacs.d/quack/srfi/draft-srfis.html
/.emacs.d/init.el~
/.emacs.d/eshell/history
/.emacs.d/ido.last
/.emacs.d/el-get
/.emacs.d/#ede-projects.el#
/.emacs.d/#ido.last#
/.emacs.d/%backup%~
/.emacs.d/ede-projects.el
/.emacs.d/quack/*
/.fluxbox/lastwallpaper
/.mplayer/config-old
/.mplayer/config~
/.mplayer/gui.conf
/.mplayer/gui.history
/.mplayer/gui.pl
/.mplayer/gui.url
/.mplayer/subfont.ttf
