! -----------------------------------------
! Rofi resources
rofi.font:		terminus 12
rofi.kb-cancel:		Escape,Control+bracketleft,Control+g
rofi.terminal:		xterm
rofi.color-normal:	#fdf6e3,#002b36,#eee8d5,#586e75,#eee8d5
rofi.color-urgent:	#fdf6e3,#dc322f,#eee8d5,#dc322f,#fdf6e3
rofi.color-active:	#fdf6e3,#268bd2,#eee8d5,#268bd2,#fdf6e3
rofi.color-window:	#fdf6e3,#002b36
rofi.separator-style:	dash

! -----------------------------------------
! Emacs resources
Emacs.backGround:               black
Emacs.menuBar:			off
Emacs.verticalScrollBars:	off
Emacs.toolBar:			off
Emacs.font:                     terminus

! -----------------------------------------
! Colors
*foreground: rgb:dd/dd/dd
*background: rgb:11/11/11
*color0:     rgb:00/00/00
*color1:     rgb:b0/70/50
*color2:     rgb:12/91/4e
*color3:     rgb:a0/a0/70
*color4:     rgb:3e/45/81
*color5:     rgb:a0/70/a0
*color6:     rgb:70/a0/a0
*color7:     rgb:a0/a0/a0
*color8:     rgb:60/60/60
*color9:     rgb:b0/70/50
*color10:    rgb:12/91/4e
*color11:    rgb:c0/c0/90
*color12:    rgb:3e/45/81
*color13:    rgb:c0/90/c0
*color14:    rgb:90/c0/c0
*color15:    rgb:ff/ff/ff

! -----------------------------------------
! Xresources for applications not supporting fontconfig
Xft.autohint:	0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting:	1
Xft.antialias:	1
Xft.rgba:	rgb

! -----------------------------------------
! Xcursor
Xcursor.theme: OpenZone
Xcursor.size:  22

! -----------------------------------------
! Xterm settings
xterm*termName: 	xterm-256color
!xterm*faceName:		gohufont-11
xterm*faceName:		terminus-10
xterm*renderFont:	true
xterm*charClass: 	33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*on3Clicks: 	regex ([[:alpha:]]+://)?([[:alnum:]!#+,./=?@_~-]|(%[[:xdigit:]][[:xdigit:]]))+
xterm*VT100*translations: #override Shift <Btn1Up>: exec-formatted("firefox '%s'", PRIMARY)
xterm*scrollBar: 	false
xterm*scrollKey: 	true
xterm*fullscreen: 	never
xterm*allowFontOps:	false
xterm*allowWindowOps:	false
xterm*deleteIsDEL:	true
xterm*ptyInitialErase:	true
xterm*backarrowKeyIsErase: true
xterm*loginShell:	true
xterm*saveLines:	20000
xterm*bellIsUrgent:	true
xterm*borderWidth:	0
xterm*multiClickTime:	250
xterm*eightBitInput:	false
xterm*metaSendsEscape:	true
xterm*locale:		UTF-8
xterm*cursorUnderLine:	true
xterm*ttyModes:		erase ^?
xterm*VT100.Translations: \
        #override <Key>BackSpace: string(0x7f) \n\
		  <Key>Delete:    string(0x1b) string("[3~")

! xlock ----------------------------------------------------------------------
xpdf*fontList:		-*-terminus-medium-r-normal--14-*-*-*-*-*-iso8859-1
xpdf.initialZoom:	width

! x11-ssh-askpass ------------------------------------------------------------
ssh-askpass*font:                   -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
ssh-askpass*background:             #000000
ssh-askpass*foreground:             #ffffff
ssh-askpass.Button*background:      #000000
ssh-askpass.Indicator*foreground:   #ff9900
ssh-askpass.Indicator*background:   #090909
ssh-askpass*topShadowColor:         #000000
ssh-askpass*bottomShadowColor:      #000000
ssh-askpass.*borderWidth:           1

! xlock ----------------------------------------------------------------------
XLock.font: 		-*-terminus-medium-r-normal--24-*-*-*-*-*-iso8859-1
XLock.planfont: 	-*-terminus-medium-r-normal--24-*-*-*-*-*-iso8859-1
XLock.mode:		blank
XLock.blank.delay:	2000000

! XMessage -------------------------------------------------------------------
Xmessage*font:                  -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
Xmessage*background:            #242424
Xmessage*foreground:            #CCCCCC
Xmessage*form.*.shapeStyle:     rectangle
Xmessage*Scrollbar.width:       1
Xmessage*Scrollbar.borderWidth: 0
!Xmessage.form.message.Scroll:  WhenNeeded
Xmessage*Buttons:               Quit
Xmessage*defaultButton:         Quit
!Xmessage*geometry:             +20+20
