! -----------------------------------------
! Rofi resources
rofi.font: terminus 12
rofi.kb-cancel: Escape,Control+bracketleft,Control+g

! -----------------------------------------
! Emacs resources
Emacs.backGround:               black
Emacs.menuBar:			off
Emacs.verticalScrollBars:	off
Emacs.toolBar:			off
Emacs.font:                     terminus
! -----------------------------------------
! Colors

*foreground: rgb:dd/dd/dd
*background: rgb:11/11/11
*color0:     rgb:00/00/00
*color1:     rgb:b0/70/50
*color2:     rgb:12/91/4e
*color3:     rgb:a0/a0/70
*color4:     rgb:3e/45/81
*color5:     rgb:a0/70/a0
*color6:     rgb:70/a0/a0
*color7:     rgb:a0/a0/a0
*color8:     rgb:60/60/60
*color9:     rgb:b0/70/50
*color10:    rgb:12/91/4e
*color11:    rgb:c0/c0/90
*color12:    rgb:3e/45/81
*color13:    rgb:c0/90/c0
*color14:    rgb:90/c0/c0
*color15:    rgb:ff/ff/ff

! -----------------------------------------
! XCursor
Xcursor*theme: Vanilla-DMZ-AA
Xcursor.size:  16

! -----------------------------------------
! Xft font settings

xft.dpi:        96
xft.antialias:  true
xft.rgba:       rgb
xft.hinting:    true
xft.hintstyle:  hintsfull

! -----------------------------------------
! Xterm settings

XTerm*termName: xterm-color256
XTerm*faceName: terminus
XTerm*faceSize: 10
XTerm*internalBorder: 3
XTerm*loginShell: true
XTerm*scrollBar: false
XTerm*scrollKey: true
XTerm*saveLines: 100000
XTerm*multiClickTime: 250
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true
XTerm*locale: UTF-8

! Fix backspace, delete still broken in mg
XTerm*ttyModes:         erase ^?
XTerm*VT100.Translations: \
        #override <Key>BackSpace: string(0x7f) \n\
		  <Key>Delete:    string(0x1b) string("[3~")


! -----------------------------------------
! UXterm settings

UXTerm*termName: xterm-color256
UXTerm*faceName: terminus
UXTerm*faceSize: 10
UXTerm*internalBorder: 3
UXTerm*loginShell: true
UXTerm*scrollBar: false
UXTerm*scrollKey: true
UXTerm*saveLines: 100000
UXTerm*multiClickTime: 250
UXTerm*eightBitInput: false
UXTerm*metaSendsEscape: true
UXTerm*locale: UTF-8


! -------------------------------------------
! URxvt settings

urxvt*faceName: 		envy code r
urxvt*faceSize: 		10
urxvt*geometry:           	90x30
urxvt*borderless:		true
urxvt*internalBorder:     	5
urxvt*urgentOnBell:             true
!urxvt*fading:             	20
!urxvt*shading:          	20
!urxvt*tintColor:       	black
urxvt*depth:			24
urxvt*saveLines:          	32767
urxvt*visualBell:         	true
urxvt*scrollTtyKeypress:  	true
urxvt*scrollWithBuffer:   	false
urxvt*scrollTtyOutput:    	false
urxvt*scrollBar:          	false
urxvt*scrollBar_right:    	true
urxvt*loginShell:         	true
urxvt*termName:           	xterm-color
!urxvt*inheritPixmap:      	true
urxvt*cutchars:           	"\"()*,<>[]{}|'"
urxvt*print-pipe:         	cat > $(echo urxvt.dump.`date +'%Y%M%d%H%m%S'`)
urxvt*secondaryScroll:    	true
urxvt*mapAlert:           	true
urxvt*utmpInhibit:        	true
urxvt*perl-lib:           	/usr/lib/urxvt/perl/
urxvt*perl-ext-common:    	default,matcher
urxvt*urlLauncher:        	firefox
urxvt*matcher.button:     	1
urxvt*matcher.pattern.1:	\\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
!urxvt*background:		rgba:1111/1111/1111/aaaa
!urxvt*transparent:             true

! -----------------------------------------
! Xpdf options

xpdf*enableFreetype:    yes
xpdf*antialias:         yes
xpdf*foreground:        black
xpdf*background:        white
xpdf*urlCommand:        /usr/bin/firefox %s

! -----------------------------------------
! XScreensaver

xscreensaver.Dialog.headingFont:	-*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.bodyFont:		-*-fixed-medium-r-*-*-*-120-*-*-*-*-iso8859-1
xscreensaver.Dialog.labelFont:		-*-fixed-medium-r-*-*-*-120-*-*-*-*-iso8859-1
xscreensaver.Dialog.unameFont:		-*-fixed-medium-r-*-*-*-120-*-*-*-*-iso8859-1
xscreensaver.Dialog.buttonFont:		-*-fixed-bold-r-*-*-*-120-*-*-*-*-iso8859-1
xscreensaver.Dialog.dateFont:		-*-fixed-medium-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.passwd.passwdFont:		-*-fixed-bold-r-*-*-*-100-*-*-*-*-iso8859-1
xscreensaver.Dialog.foreground:		#ffffff
xscreensaver.Dialog.background:		#111111
xscreensaver.Dialog.topShadowColor:	#111111
xscreensaver.Dialog.bottomShadowColor:	#111111
xscreensaver.Dialog.Button.foreground:	#666666
xscreensaver.Dialog.Button.background:	#ffffff
xscreensaver.Dialog.text.foreground:	#666666
xscreensaver.Dialog.text.background:	#ffffff
xscreensaver.Dialog.internalBorderWidth:24
xscreensaver.Dialog.borderWidth:	20
xscreensaver.Dialog.shadowThickness:	2
xscreensaver.passwd.thermometer.foreground:  #ff0000
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:	8
xscreensaver.dateFormat:		%I:%M%P %a %b %d, %Y
xscreensaver.lock:			true

